import type { AnimationController } from "../../../animation/AnimationController";
import type { __CLASS_NAME__ } from "../__CLASS_NAME__";

export interface __CLASS_NAME__Context {
	entity: __CLASS_NAME__;
	animation: AnimationController;
}
