import type { IState } from "../../../statemachine/IState";
import type { __CLASS_NAME__Context } from "./__CLASS_NAME__Context";

export type __CLASS_NAME__StateName = "idle";
export type I__CLASS_NAME__State = IState<__CLASS_NAME__Context, __CLASS_NAME__StateName>;
